<div class="style-main">
  <div class="title">
    <div class="logo">
      <img src="MrLaw.jpg" alt="logo-image" class="logo-image">
    </div>
    <container class="holder">
      <nav class="navigation">
        <p>
          Home
        </p>
      </nav>
      
      <nav class="navigation">
        <p>
          About Us
        </p>
      </nav>
      <nav class="navigation">
        <p>
          Music Library
        </p>
      </nav>
      <nav class="navigation">
        <p>
          Contact Us
        </p>
      </nav>
    </container>
  </div>
</div>