<div class="style-main">
  <div class="title">
    <div class="logo">
      <img src="/images/MrLaw.jpg" alt="logo-image" class="logo-image">
    </div>
    <container class="holder">
      <nav class="navigation">
        <p>
          <a href="/">Home</a>
        </p>
      </nav>
      
      <nav class="navigation">
        <p>
          <a href="/about">About Us</a>
        </p>
      </nav>
      <nav class="navigation">
        <p>
          <a href="/music">Music Library</a>
        </p>
      </nav>
      <nav class="navigation">
        <p>
          <a href="/contacts">Contact Us</a>
        </p>
      </nav>
    </container>
  </div>
</div>