* {
  box-sizing: border-box;
}

:root {
  --h1: calc(var(--h2) * 1.125);
  --h2: calc(var(--h3) * 1.125);
  --h3: calc(var(--h4) * 1.125);
  --h4: calc(var(--h5) * 1.125);
  --h5: calc(var(--h6) * 1.125);
  --h6: calc((1em));
}
body{
  background-color: rgb(134, 119, 119);
}
li{
  list-style:none;
}

a {
  color: inherit;
  text-decoration: inherit;
}
a:hover{
  color: yellow;
  font-size: calc(var(--h5)*.7);
}
{
  color: yellow;
}

.style-main {
  background-image: linear-gradient(90deg, rgb(192, 45, 40), rgb(230, 98, 37));
  background-clip: content-box;
}

.title {
  display: flex;
  flex: wrap;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.7);

  height: 4rem;
}

img {
  height: 100%;
  width: 100%;
}

.logo {
  flex: 1;
}

.holder {
  flex: 3;
}

.holder {
  display: flex;
  flex: wrap;
  padding: 0 1.5rem;
  align-items: center;
}

.navigation {
  flex: 1;
  color: #fff;
}


.line {
  border: 1px solid red;
  margin: 0;
}
article{
  margin:0.8rem;
  border-radius: 30px;
  padding: 1rem;
  background-color: rgb(155, 255, 213);
}

p{
  font-size: var(--h3);
  color: rgb(221, 72, 154);
}