<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <div class="container">
    <section class="block1">

      <img src="/images/image1.jpg" alt="">

    </section>
    <section class="block2">
      <!-- <div class="image"><img src="/images/image1.jpg" alt=""></div> -->
      <h1>The Yellow House</h1>
      <p>I have alway Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo, eius, quis optio accusantium ea
        debitis asperiores tempore natus, sunt quidem nihil. Voluptatem hic saepe voluptatum debitis nesciunt nobis
        distinctio earum!</p>
    </section>
    <section class="block3">
      <div class="image"><img src="/images/image3.jpg" alt=""></div>
    </section>
    <section class="block4">
      <h1>The Glass Vase</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum officia esse facilis quaerat molestiae quod in,
        maiores deleniti incidunt! Unde alias magni in itaque ipsum, doloremque enim facere blanditiis nemo.</p>

      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum temporibus sed, numquam totam eius error sint
        ab minima necessitatibus rerum molestiae quam iure dolor quos veniam mollitia labore repudiandae repellendus!
      </p>

    </section>
    <section class="block5">
      <div class="image"><img src="" alt=""></div>
    </section>
    <section class="block6">
      <div class="image"><img src="" alt=""></div>
    </section>
    <!-- <section> -->
    <!-- <article>
       <h1>I Sell high quality paint;design,develop,maintain,test and evaluate software</h1>
       <p>
         Hello. I’m Lawrence Chibikem Ughonu. It’s a pleasure to meet you.

         Thank you for your interest in me and my copywriting services. Here’s what I’m all about.
       </p>

       <p>Work as a free-lance software Engineer designing ,developing,maintaining,test or evaluating Computer software
         for clients. I am also involed in the production and supply of high quality house paints of different types. We
         have the Text-Coat,Silk Emulsion,Gloss, Oil-based Emulsion paint etc. To get any of these you can <a
           href="/paint.ejs" class="paint-click">click here</a> to make your order.</p>


       <p>Although based in Nigeria, I have been able to render my services to people at different parts of the world .
         And I’m proud to say that many of my clients have been with me for years, coming back over and over for more of
         my products and services. You can <a href="/contacts.ejs" class="contact-click">click here to contanct us</a>,
         I will be so delighted
         to serve you.</p>

       <p>I a student of Electrical and Electronics Engineering in the University of Ibadan.But it’s my real-world
         experience that differentiates me from other software engineers and gives me the ability to render a good
         service.</p>
     </article> -->
    <!-- </section> -->
    <script src="/main.js"></script>
</body>

</html>