<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <div>
   <section>
     <article>
       <h1>I Sell high quality paint;design,develop,maintain,test and evaluate software</h1>
       <p>
         Hello. I’m Lawrence Chibikem Ughonu. It’s a pleasure to meet you.

         Thank you for your interest in me and my copywriting services. Here’s what I’m all about.
       </p>

       <p>Work as a free-lance software Engineer designing ,developing,maintaining,test or evaluating Computer software
         for clients. I am also involed in the production and supply of high quality house paints of different types. We
         have the Text-Coat,Silk Emulsion,Gloss, Oil-based Emulsion paint etc. To get any of these you can <a
           href="/paint.ejs" class="paint-click">click here</a> to make your order.</p>


       <p>Although based in Nigeria, I have been able to render my services to people at different parts of the world .
         And I’m proud to say that many of my clients have been with me for years, coming back over and over for more of
         my products and services. You can <a href="/contacts.ejs" class="contact-click">click here to contanct us</a>,
         I will be so delighted
         to serve you.</p>

       <p>I a student of Electrical and Electronics Engineering in the University of Ibadan.But it’s my real-world
         experience that differentiates me from other software engineers and gives me the ability to render a good
         service.</p>
     </article>
   </section>
  <script src="/main.js"></script>
</body>

</html>