<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <div>
    <h1>Abouts</h1>
    <div class="contacts">
      <li>
        <ul>
          <p>Name; Age</p>
        </ul>
      </li>
    </div>
  </div>
  <script src="/main.js"></script>
</body>

</html>