<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <div>
    <h1>contacts</h1>
    <div class="contacts">
     <h1>Here are your contacts</h1>
    </div>
  </div>
  <script src="/main.js"></script>
</body>

</html>