<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/header.ejs %> 
</head>

<body>
  <% include ../partials/nav.ejs %> 
  <div>
    <h1>Hello world 2</h1>
    <p>Welcome to the greatest website ever. You can see more about us by clicking <a href="/contacts">here</a></p>
  </div>
  <script src="/main.js"></script>
</body>

</html>