<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/header %>
</head>

<body>
  <% include ../partials/nav %>
  <hr class="line">
  <div class="words">
    <p>
      <span class="paragraph">Lorem ipsum dolor sit amet consectetur adipisici Aut earum laudantium ducimus delectus
        error doloremque! Corrupti dicta qui, magnam molestias sit tenetur odio. Iusto, aliquam quaerat.</span> <br>
      <span class="paragraph">Sint quaerat sunt ducimus, repudiandae maxime provident. Optio ad sapiente veritatis et
        natng elit. Id, voluptatum. Itaque, alias.us nam fuga quis, ab necessitatibus atque illo officiis nesciunt
        voluptatum at, tempora, incidunt provident quibusdam error sit.</span> <br>
      <span class="paragraph">Aut aspernatur sequi amet dolore magni consectetur obcaecati deleniti assumenda.
        Necessitatibus laborum accusamus unde dolorem suscipit soluta magnam sed nam ea temporibus ad, doloremque
        eligendi magni nobis molestiae autem optio.</span> <br>
      <span class="paragraph">Ex, nostrum et illo sapiente temporibus quasi obcaecati. Culpa possimus recusandae
        similique cum debitis magnam blanditiis! Maxime hic sequi qui illo natus velit, tempore, voluptas accusamus
        dolor temporibus, cum deserunt.</span> <br>
      <span class="paragraph">Quibusdam aut blanditiis qui expedita vitae sapiente saepe consequatur ratione facilis
        voluptates quia, harum id dolorum libero nisi repudiandae error quaerat temporibus reprehenderit alias at
        doloribus? Accusantium ipsam voluptatibus aperiam!</span> <br>
      <span class="paragraph">Facilis rem labore culpa non? Deserunt soluta doloribus asperiores aspernatur
        reprehenderit exercitationem ea voluptates adipisci, odio sint officia animi tempora tenetur, libero qui vitae
        corrupti, facere ab non? Voluptatum, iste.</span> <br>
      <span class="paragraph">Consequatur, expedita. Quaerat sit fuga nostrum quae porro nobis architecto ipsa nihil
        sequi consequuntur minima officiis laboriosam, alias deleniti ut rem dignissimos. Amet, laudantium ducimus.
        Impedit enim possimus consequuntur voluptate.</span> <br>
      <span class="paragraph">Harum animi est obcaecati expedita accusantium quae vitae, delectus, dolorem
        necessitatibus quo sit in sequi voluptate quisquam mollitia, ut esse tenetur! Fugit aspernatur vel similique
        quos esse incidunt doloremque iste!</span> <br>
      <span class="paragraph">Saepe dolores odit doloremque distinctio repellat totam maxime laudantium nulla
        voluptatem
        accusantium. Impedit, dicta. Voluptates eligendi rerum quibusdam explicabo expedita reprehenderit cumque ipsa
        asperiores laudantium. Enim error eos nulla quae!</span> <br>
      <span class="paragraph">Earum odio quasi placeat deleniti quis praesentium, ut ad alias, reiciendis minima
        delectus perspiciatis eligendi temporibus dolore at accusantium itaque molestias assumenda. Quas nisi non
        debitis perspiciatis quod ab minima.</span> <br>
    </p>
  </div>

  <main class="test">
    <div class="test1"></div>
    <div class="test2"></div>
    <div class="test3"></div>
    <div class="test4"></div>
  </main>

  <script src="/js/main.js"></script>
</body>

</html>