<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/header %>
</head>

<body>
  <% include ../partials/nav %>
  <hr class="line">
  <div class="words">
    <article class="main-banner">
      <div class="left banner-text">
        <div class="seperate">
          <h1>MrLaw's Domain</h1>
          <h2>You are in the right place!</h2>
        </div>
      </div>
      <div class="right">
        <div>
          <p>
            You can design can create you website , software, maintain you already created website and software.
          </p>
          <p>
            We also produce different type high quality paints like, Silk Emulsion, Text-Coat, Oil-based Emulsion a many
            more. I know you will enjoy our servic <a href="/paint" class="paint-click">click here</a> to get our paint
          </p>
        </div>
      </div>
    </article>

  </div>
  <script src="/js/main.js"></script>
</body>

</html>