<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/header %>
</head>

<body>
  <% include ../partials/nav %>
  <hr class="line">
  <div class="words">
    <article>
      <h1>Welcome to MrLaw's  Domain</h1>
      <h2>You are in the right place!</h2>
      <p>
        You can design can create you website , software, maintain you already created website and software. 
      </p>
      <p>We also produce different type high quality paints like, Silk Emulsion, Text-Coat, Oil-based Emulsion a many
        more. I know you will enjoy our servic <a href="/paint" class= "paint-click">click here</a> to get  our paint </p>
    </article>

  </div>

  <main class="test">
    <div class="test1"></div>
    <div class="test2"></div>
    <div class="test3"></div>
    <div class="test4"></div>
  </main>

  <script src="/js/main.js"></script>
</body>

</html>