<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
 <div class="picture">
   <img src="/images/picture.jpg" alt="Sorry I could not see your pictures">
 </div>
</body>

</html>